@font-face {
  font-family: 'musive-icons';
  src:  url('fonts/musive-icons.eot?g842yd');
  src:  url('fonts/musive-icons.eot?g842yd#iefix') format('embedded-opentype'),
    url('fonts/musive-icons.ttf?g842yd') format('truetype'),
    url('fonts/musive-icons.woff?g842yd') format('woff'),
    url('fonts/musive-icons.svg?g842yd#musive-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i, .icomoon-liga {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'musive-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mute:before {
  content: "\e907";
}
.icon-about:before {
  content: "\e908";
}
.icon-add-to-playlist:before {
  content: "\e909";
}
.icon-add-to-queue:before {
  content: "\e90a";
}
.icon-connect-to-a-device:before {
  content: "\e90b";
}
.icon-full-screen:before {
  content: "\e90c";
}
.icon-Go-to-radio:before {
  content: "\e90d";
}
.icon-hide-song:before {
  content: "\e90e";
}
.icon-Like:before {
  content: "\e90f";
}
.icon-lyrics:before {
  content: "\e910";
}
.icon-Next:before {
  content: "\e911";
}
.icon-pause:before {
  content: "\e912";
}
.icon-Previous:before {
  content: "\e913";
}
.icon-queue:before {
  content: "\e914";
}
.icon-repeat:before {
  content: "\e915";
}
.icon-report-abuse:before {
  content: "\e916";
}
.icon-share:before {
  content: "\e917";
}
.icon-shuffle:before {
  content: "\e918";
}
.icon-sleep-timer:before {
  content: "\e919";
}
.icon-song-credits:before {
  content: "\e91a";
}
.icon-view-album:before {
  content: "\e91b";
}
.icon-view-artist:before {
  content: "\e91c";
}
.icon-volume:before {
  content: "\e91d";
}
.icon-create_new:before {
  content: "\e900";
  color: #fff;
}
.icon-home_filled:before {
  content: "\e901";
  color: #fff;
}
.icon-home:before {
  content: "\e902";
  color: #fff;
}
.icon-library_filled:before {
  content: "\e903";
  color: #fff;
}
.icon-library:before {
  content: "\e904";
  color: #fff;
}
.icon-search_filled:before {
  content: "\e905";
  color: #fff;
}
.icon-search:before {
  content: "\e906";
  color: #fff;
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
